#mainCanvas{
    border: 1px solid #d3d3d3;
    float: left;
}

ul#usersList{
    list-style: none;
}

.badge{
    /*background-color is set in JS*/
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

ul#usersList .badge{
    position: initial;
    display: inline-block;
}

.cursor{
    position: absolute;
    background-image: url("../img/glyphicons_030_pencil.png");
    width: 24px;
    height: 24px;
}
